$font-stack: Helvetica, sans-serif;
$primary-color: rgb(208, 245, 245);
$font-color: #ffcccc;

html, body, #root {
  margin: 0;
  padding: 0;
  background-color: $primary-color;
}

.index {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
