$font-stack: Helvetica, sans-serif;
$primary-color: #fbfbfb;
$font-color: #FFCCCC;

html, body {
    height: 100%;
    // display: flex;
    // justify-content: center;
    background-color: $primary-color;
    // color: $font-color;
    margin: 0;
    padding: 0;
}
