$primary-color: rgb(208, 245, 245);
$font-color: rgb(0, 164, 209);
$header-color: rgb(0, 0, 0);

:global(html) {
    overflow-x: hidden !important;
    width: 100vw !important;
    user-select:none !important;
}

.header {
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    justify-content: center;
    background: white;
}