$primary-color: rgb(208, 245, 245);
$font-color: rgb(0, 164, 209);
$header-color: rgb(0, 0, 0);

html,
body,
#root {
  margin: 0;
  padding: 0;
  background-color: $primary-color;
  color: $font-color;
  box-sizing: border-box;

  header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $header-color;
    color: white;
    width: 100vw;

    .center {
      width: 90%;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
    }

    @media screen and (max-width: 1000px) {
        background-color: green;
    }

    a {
      color: white;
      padding: 0 20px;
    }
  }

  .content {
    margin-top: 100px;
    display: flex;
    justify-content: center;
  }
}

*,
::before,
::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
    overflow-x: hidden;
    width: 100vw;
}